.flex{
    display: flex;
    flex-direction: row;
}
.bto{
    background-color: rgba(0, 0, 0, 0);
    font-family: 'MontserratM';
    font-size: calc(.9rem);
}
.bto:hover{
    background-color: aquamarine;
}
.grid_6c{
    display: grid;
    grid-template-columns: 4% 22% 28% 28% 10% 4%;
}
.fz {
    font-family: 'MontserratB';
    font-size: calc(.85vw);
}
.patient_inf{
    font-family: 'MontserratM';
    font-size: calc(.9rem);
}
.bar{
    font-family: 'MontserratSB';
    font-size:calc(1vw+1rem) ;
}
