#table_users{
    border: 1px solid black;
    border-collapse: collapse;
    font-family:Calibri;
}
#table_users tr,th {
    padding: 10px;
    text-align: center;
}
#ShowEditUser{
    font-family: Calibri;
}
html,body{
    zoom: 100%;
}
