.container {
    display: flex; /* Usar flexbox para crear un diseño flexible */
    justify-content: space-between; /* Distribuir el espacio entre las columnas */
    width: 100%;
    height: 100%;
}

.column {
    flex-basis: 30%; /* Establecer el ancho base de cada columna */
    padding: 0px 0px 0px 50px;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 22.5px;
    bottom: -30px;   
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    right: 140px;
    bottom: -80px;

}

.anestesiologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-anestesiologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.cardiologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-cardiologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.dermatologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-dermatologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.endocrinologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-endocrinologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.gastroenterologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-gastroenterologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.cirugia-general{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-cirugia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.hematologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-hematologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.inmunologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-inmunologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.infecciones{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-infecciones{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.nefrologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-nefrologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.neurologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-neurologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.ginecologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-ginecologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.oncologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-oncologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.oftalmologia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-oftalmologia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}

.ortopedia{
    background-image: linear-gradient(to bottom, #07b3b32e 55%, white 45%);
    display: flex;
    align-items: center;
    width: 246px;
    height: 252px;
    border-radius: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto-ortopedia{
    position: relative;
    bottom: 261.5px;
    left: 50px;
    display: inline-block;
    border-radius: 60px 60px 0px 0px;
    overflow: hidden;
}