@media (max-width:475px){

    .head_nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .internal_container{
        display: flex;
        flex-direction: row;
    }
    .title_block{
        padding: 5px;
        background-color: bisque;
        border-radius: 10px;

    }
    .ico_logo{
        display: none;
    }
    #itc1{
        justify-content:center;
        margin-left: -30px;
        margin-right: 60px;
    }
    #navtx{
        margin-left: 10px;
        font-family: "Fredoka";
        font-weight: 600;
    }
    #reg_button{
        height: 30px;
        width: 90px;
        border-radius: 10px;
        margin-top: 10px;
        border: 0;
        margin-left: 10px;
        background-color: rgba(119, 140, 248, .7);
        font-family: "Fredoka";
        font-weight: 600;
    }
    #welcome_tx{
        text-align: center;
        width: 370px;
        margin-left: 40px;
        font-family: "Fredoka";
        font-weight: 500;
        font-size: 20px;
    }
    #w_title{
        text-align: center;
        width: 380px;
        margin-left: 40px;
        font-family: "Fredoka";
        font-size: 40px;
        font-weight: 600;
    }
    #center_container{
        justify-content: center;
    }

}
@media (max-width:1024px){

}
