
@media only screen and (max-device-width : 720px){
    #card_slider{display: block;}
    #card_container{
        display: none;
    }
}

@media only screen and (min-device-width : 1024px){
    #card_slider{display: none;}
    #card_container{
        display: flex;
    }
    #c1{
        margin-right: 40px;
    }
    #c3{
        margin-left: 40px;
    }
}

@media (max-width:719px) {
    html,body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    .head_nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .internal_container{
        display: flex;
        flex-direction: column;
    }
    .columns_container{
        display: flex;
        flex-direction: row;

    }
    .title_block{
        width: 130px;
        height: 23px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: #778CF8;
        border-radius: 30px;
        color: white;
        font-family: "Fredoka";
        font-weight: 500;
        justify-content: center;
    }
    #ico_logo{
        display: none;
    }
    #itc1{
        align-items: center;
    }
    #navtx{
        margin-left: 10px;
        margin-top: 20px;
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 18px;
        padding-right: 6px;
        border-right: 2px solid black;
        height: 22px;
        text-decoration: none;
        color: black;
    }
    #reg_button{
        height: 40px;
        width: 125px;
        border-radius: 10px;
        margin-top: 11px;
        border: 0;
        margin-left: 10px;
        background-color: rgba(119, 140, 248, .7);
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 18px;
        margin-right: 6px;
    }
    #reg_button:hover{
        background-color: white;
    }
    #welcome_tx{
        text-align: center;
        width: 370px;
        font-family: "Fredoka";
        font-weight: 500;
        font-size: 20px;
    }
    #w_title{
        text-align: center;
        width: 380px;
        font-family: "Fredoka";
        font-size: 40px;
        font-weight: 600;
    }
    .mid_container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFE0F0;
    }
    .end_container{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .container{
        display: flex ;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    #more{
        width: 100px;
        border-radius: 60px;
        border: 0px;
        padding:15px 30px 15px 30px;
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        background-color: #0f0f0f;
        color: white;
    }
    #test_img1{
        display: none;
    }
    .card{
        text-align: center;
        height: 250px;
        width: 250px;
        background-size:contain;
        background-repeat: no-repeat;
    }
    #c1{
        background-image: url("../res/svg/card_1.svg");
    }
    #c2{
        background-image: url("../res/svg/card_2.svg");
    }
    #c3{
        background-image: url("../res/svg/card_3.svg");
    }
    #subtitle{
        font-family:"Fredoka" ;
        font-size: 26px;
    }
    #med_title{
        font-family: "Fredoka";
        font-size: 36px;
        font-weight: 600;
    }
    .no_bullets{
        list-style: none;
        padding-left: 0;
    }
    #footer{
        width: 100%;
        max-width: 720px;
        background-color: black;
        font-family: "Fredoka";
        color: white;
        height: 630px;
    }
    #line{
        width: 435px;
        border:1.5px solid black;
        margin-bottom: 30px;
    }
    .normal_text{
        font-family: "Fredoka";
        font-weight: 500;
        font-size: 18px;
    }
    #txt_col{
        width: 260px;
        text-align: justify;
    }
    #txt_col2{
        width: 320px;
        text-align: justify;
    }
    #txt_li1 {
        width: 120px;
        text-align: justify;
    }
    #txt_li2 {
        width: 124px;
        text-align: justify;
    }
    #txt_jcenter{
        width: 180px;
        text-align: justify;
        margin-left: 20px;
    }
    #columns{
        display: flex ;
        flex-direction: column ;
        width: 240px;
        align-items: center;
    }
    ol{
       display: flex;
       flex-direction: column;
       text-align: justify;
       padding: 20px 0px 20px 0px;
       margin: auto;
    }
    #text_col li{
        list-style-position: inside;
        text-align: justify;
        width: 100px;
        margin-left: 0px;
    }
    #text_col2{
        margin-left: 20px;
    }
    #text_col2 li{
        list-style-position: inside;
        text-align: left;
        width: 280px;
        margin-left:0px;
    }
    #footer_inner_txt{
        margin-left: 40px;
    }
    #footer_inner_txt li{
        padding-top:12px;
    }
    #footer_inner_txt2{
        margin-left: 40px;
        padding-left: 0;
    }
    #footer_inner_txt2 li{
        padding-top: 12px;
        list-style-type: none;
    }

    .footer_title{
        margin-left: 40px;
        padding-top: 15px;
    }
    #fb_ico{
        margin-left: 40px;
    }
    #cimec_ico{
        display: none;
    }
    #social_media_icons{
        display: flex;
        flex-direction: row;
    }
    #ico_gen{
        margin-left: 40px;
    }
    .footer_inner{
    display: flex;
    }
    .second_col_footer{
        margin-left: 120px;
    }
    #row{
        flex-direction: row;
    }
    #center_row{
        flex-direction: row;
        align-items:center;
    }
    #col {
        flex-direction: column;
    }
    #center_col{
        flex-direction: column;
        align-items: center;
    }
    #copyright_txt{
        margin-left: 40px;
        width: 400px;
        text-align: center;
    }
}
@media (min-width:720px) {
    html,body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    .head_nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .internal_container{
        display: flex;
        flex-direction: column;
    }
    .columns_container{
        display: flex;
        flex-direction: row;

    }
    .title_block{
        width: 130px;
        height: 23px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: #778CF8;
        border-radius: 30px;
        color: white;
        font-family: "Fredoka";
        font-weight: 500;
        justify-content: center;
    }
    #ico_logo{
        display: none;
    }
    #itc1{
        align-items: center;
    }
    #navtx{
        margin-left: 10px;
        margin-top: 20px;
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 18px;
        padding-right: 6px;
        border-right: 2px solid black;
        height: 22px;
        text-decoration: none;
        color: black;
    }
    #reg_button{
        height: 40px;
        width: 125px;
        border-radius: 10px;
        margin-top: 11px;
        border: 0;
        margin-left: 10px;
        background-color: rgba(119, 140, 248, .7);
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 18px;
        margin-right: 6px;
    }
    #reg_button:hover{
        background-color: white;
    }
    #welcome_tx{
        text-align: center;
        width: 370px;
        font-family: "Fredoka";
        font-weight: 500;
        font-size: 20px;
    }
    #w_title{
        text-align: center;
        width: 380px;
        font-family: "Fredoka";
        font-size: 40px;
        font-weight: 600;
    }
    .mid_container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFE0F0;
    }
    .end_container{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .container{
        display: flex ;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    #more{
        width: 100px;
        border-radius: 60px;
        border: 0px;
        padding:15px 30px 15px 30px;
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        background-color: #0f0f0f;
        color: white;
    }
    #test_img1{
        display: none;
    }
    .card{
        text-align: center;
        height: 250px;
        width: 250px;
        background-size:contain;
        background-repeat: no-repeat;
    }
    #c1{
        background-image: url("../res/svg/card_1.svg");
    }
    #c2{
        background-image: url("../res/svg/card_2.svg");
    }
    #c3{
        background-image: url("../res/svg/card_3.svg");
    }
    #subtitle{
        font-family:"Fredoka" ;
        font-size: 26px;
    }
    #med_title{
        font-family: "Fredoka";
        font-size: 36px;
        font-weight: 600;
    }
    .no_bullets{
        list-style: none;
        padding-left: 0;
    }
    #footer{
        width: 100%;
        max-width: 1360px;
        background-color: black;
        font-family: "Fredoka";
        color: white;
        height: 630px;
    }
    #line{
        width: 435px;
        border:1.5px solid black;
        margin-bottom: 30px;
    }
    .normal_text{
        font-family: "Fredoka";
        font-weight: 500;
        font-size: 18px;
    }
    #txt_col{
        width: 260px;
        text-align: justify;
    }
    #txt_col2{
        width: 320px;
        text-align: justify;
    }
    #txt_li1 {
        width: 120px;
        text-align: justify;
    }
    #txt_li2 {
        width: 124px;
        text-align: justify;
    }
    #txt_jcenter{
        width: 180px;
        text-align: justify;
        margin-left: 20px;
    }
    #columns{
        display: flex ;
        flex-direction: column ;
        width: 240px;
        align-items: center;
    }
    ol{
       display: flex;
       flex-direction: column;
       text-align: justify;
       padding: 20px 0px 20px 0px;
       margin: auto;
    }
    #text_col li{
        list-style-position: inside;
        text-align: justify;
        width: 100px;
        margin-left: 0px;
    }
    #text_col2{
        margin-left: 20px;
    }
    #text_col2 li{
        list-style-position: inside;
        text-align: left;
        width: 280px;
        margin-left:0px;
    }
    #footer_inner_txt{
        margin-left: 40px;
    }
    #footer_inner_txt li{
        padding-top:12px;
    }
    #footer_inner_txt2{
        margin-left: 40px;
        padding-left: 0;
    }
    #footer_inner_txt2 li{
        padding-top: 12px;
        list-style-type: none;
    }

    .footer_title{
        margin-left: 40px;
        padding-top: 15px;
    }
    #fb_ico{
        margin-left: 40px;
    }
    #cimec_ico{
        display: none;
    }
    #social_media_icons{
        display: flex;
        flex-direction: row;
    }
    #ico_gen{
        margin-left: 40px;
    }
    .footer_inner{
    display: flex;
    }
    .second_col_footer{
        margin-left: 120px;
    }
    #row{
        flex-direction: row;
    }
    #center_row{
        flex-direction: row;
        align-items:center;
    }
    #col {
        flex-direction: column;
    }
    #center_col{
        flex-direction: column;
        align-items: center;
    }
    #copyright_txt{
        margin-left: 40px;
        width: 400px;
        text-align: center;
    }


}

@media (max-width:700px){
    .columns_container{
        display: flex;
        flex-direction: column;
    }
}
