*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 30px;
    padding: 30px;
    height: auto;
    width: auto;
    background-image: linear-gradient(to right, #FFE0F0 100%, #778df8c6 0%);
}

.title{
    padding-bottom: 20px;
}

.paragraph{
    text-align: justify;
    padding-bottom: 20px;
}

.information{
    text-align: center;
    flex: 2;
    padding: 20px;   
    width: 60%;
    max-width: auto;
}

.form_grupo{
    position: relative;
    --color: #5757577e;

}
.form_input{
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    width: 100%;
    background: none;
    padding: .5rem .5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color); 
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #000;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 9px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.div2{
    flex: 1;
    padding: 20px;
    max-width: none;
    height: auto;
    display: block;
    right: 100%;
}

.form_container{
    display: grid;
    gap: 1rem;
}

.form_submit{
    background: #000;
    color: #fff;
    font-family: 'Fredoka', sans-serif; 
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: .8em;
}
