nav{
    padding-top: 3%;
    padding-bottom: 2%;
}
a{
    color: white;
    font-family: "MontserratEB";
    font-size: larger;
    text-decoration: none;
}
header{
    background-color: #07B3B3;
}
a:hover{
    background-color: #037575;
    text-decoration: none;
    color: white;
}
.bt{
    border-right: white solid 2px;
    padding: .5% 1%;
    border-right-width: .10em;
    line-height: .15em;
}
@font-face {
    font-family:"RobotoBl" ;
    src: url(/res/font/Roboto-Black.ttf);
}
@font-face {
    font-family: 'MontserratEB';
    src: url(/res/font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family:'MontserratB' ;
    src: url(/res/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MontserratSB' ;
    src: url(/res/font/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'MontserratM';
    src: url(/res/font/Montserrat-Medium.ttf);
}
