body {
    margin: 0;
    padding: 0;
    zoom: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar{
    display: none;
  }
header {
    width:100%;
    height: 7.94%;
    background-color: #07B3B3;
    padding-top: .75%;
    padding-bottom: .75%;
    zoom: 90%;
}
main {
    width: 100%;
    height: 71.71%;
    background-color:#ffff;
    padding: 0;
}
footer {
    width: 100%;
    height: 20.35%;
    background-color: #1C1C1C;
    color: #ffff;
    margin-top: 1%;
}
nav {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: row;
}

aside {
    width: 50%;
    height: 70%;
    padding: 1%;
    text-align: center;
}

a {
    height: 100%;
    text-align: center;
    color: white;
    font-family: "MontserratEB";
    font-size: x-large;
    text-decoration:none ;
}

a:hover{
    background-color: #079797;
}
p {
    text-align: center;
    font-family: 'MontserratM';
    padding: 0;
    margin: 0;
}


h1{

    color: black;
    font-family: "MontserratEB";
    font-size:xx-large;
    width: 80%;
    margin: 12% auto auto auto;

}
.h1_na{
    color: black;
    font-family: "MontserratEB";
    font-size:xx-large;
    width: 80%;
}

em {
    font-style: normal;
    color: rgb(24,170,82);
}

.m_title{
    color: black;
    font-family: "MontserratM";
    font-size: 23px;
    font-weight: 500;
    text-align: left;
}
.m_sub{
    color: black;
    font-family: "MontserratM";
    font-size: 26px;
    font-weight: 500;
    text-align: left;
}
.m_sb {
    color: black;
    font-family: "MontserratSB";
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.r_title{
    color: black;
    font-family: "RobotoBl";
    font-weight: 800;
}
@font-face {
    font-family:"RobotoBl" ;
    src: url(/res/font/Roboto-Black.ttf);
}
@font-face {
    font-family: 'MontserratEB';
    src: url(/res/font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family:'MontserratB' ;
    src: url(/res/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MontserratSB' ;
    src: url(/res/font/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'MontserratM';
    src: url(/res/font/Montserrat-Medium.ttf);
}

.c {
    background-color: rgba(7, 179, 179, 0.2);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.bt {
    padding: 2%;
    border-right: 1px solid #ffff;
    border-right-width: .20em;
    line-height: .15em;
}
.input_r {
    width: 80%;
    margin-top: 2%;
    padding-bottom: 6%;
    border-radius: 15px;
    border: 0px;
    text-align:left;
    font-family:"MontserratM";
    padding-top: 4%;
}
.input_rl {
    width: 100%;
    margin-top: 2%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: 0px;
    text-align:left;
    font-family:"MontserratM";
    padding-top: 5%;
    margin-bottom: 2%;
}
.button_r {
    background-color: #0D56E4;
    color: white;
    border-radius: 60px;
    border: 0px;
    width: 40%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: "MontserratSB";
    font-size:xx-large;
}
.button_r:active{
    box-shadow: 2px 2px 5px gray;
}

